{% extends "base.html" %}

{% block title %}
    Новый пост
{% endblock %}

{% block content_title %}
    Новый пост
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form action="{{ url_for('posts.create_post') }}" method="post" name="create_post">
            {{ form.hidden_tag() }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}
            <div class="mt-3">
                <button type="submit" class="btn btn-dark">Создать</button>
            </div>
        </form>
    </div>
{% endblock %}